# Redis server information
redis_server: 127.0.0.1
redis_port: 6379
# Queue for incoming messages
subscribe_queue: 'mine'
# Queue for outgoing messages
publish_queue: 'package'

# Protocol specific constraints
protocol:
    lj:
        timeout: 60
        retry_attemps: 5
        
# Sidekiq specifiq
:verbose: false
:queues:
    - [mine, 1]
:require: "./lib/tasks.rb"
:enable_rails_extensions: false
:pidfile: ./sidekiq.pid